body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
   color: #333;
}

header {
   background-color: #333;
   color: #fff;
   padding: 1em 0;
   text-align: center;
}

main {
   padding: 20px;
}

.dashboard {
   display: flex;
   flex-wrap: wrap;
   justify-content: center; /* Centra le card orizzontalmente */
   gap: 20px;

}

.card {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 20px;
   flex: 1; /* Permette alle card di espandersi */
   min-width: 300px; /* Larghezza minima per le card */
}

h2 {
   margin-top: 0;
   color: #333;
}

#segnali-container {
    margin-top: 10px;
   font-size: 1.2em;
}
.segnali-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 10px;
}
.segnali-table th, .segnali-table td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: left;
}
.segnali-table th {
   background-color: #f2f2f2;
   font-weight: bold;
}
#chartContainer{
    width: 100% !important;
    max-width: 800px; /*Larghezza massima per il canvas*/
   margin-top: 20px;
    display: block; /* Rimuove gli spazi extra */
   margin-left: auto;
   margin-right: auto;
}
footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
   color: #fff;
   position: fixed;
   bottom: 0;
   width: 100%;
}
